<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Guru99BankSuite" verbose="1" parallel="classes" thread-count="3">
    <test name="Guru99BankTests">
        <classes>
            <class name="tests.Guru99LoginTest"/>
            <class name="tests.NewCustomerTest"/>
            <class name="tests.FundTransferTest"/>
        </classes>
    </test>
</suite>
